*
!.gitignore
!README.adoc
!CHANGELOG.adoc
!LICENSE
!AGENTS.md
!dub.json
!dub.sdl
!dub.selections.json
!source/
!source/**
!assets/
!assets/**
!docs/
!docs/**
!examples/
!examples/**
!contrib/
!contrib/**
!.github/
!.github/**
